@import "bootstrap\bootstrap.less"

@import "colors.less";
@import "fonts.less";



.border-radius(@radius: 10px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

html,
body,
header,
.container-fluid{
  font-family: montserrat-regular;
  height:100%;
}
.container-fluid{
  padding:0px;
}
.row{
  padding:10px;
  margin:auto;
  max-width:1180px;
}
header
{
  background: url(../img/background-header-3.jpg) no-repeat center;
  width: 100%;
  display: table;
  background-size:cover ;
  -webkit-background-size: cover;
  color: white;
  img{
    width:100px;
  }
  li:hover{
    background-color:@violet;
  }
}

h1, h3 {
  font-family: montserrat-bold;
  color: white
}
h2, h4, h5 {
  font-family: gotham-bold;
}
a {
  font-family: montserrat-regular;
  color: @blanc;
}

.navbar-default{
  background-color: transparent;
}

.navbar-default .navbar-nav > li > {
  a, a:hover {
    color: white;
  }
}

.img-thumbnail{
  min-height:200px;
}
.nav-pills{
  border-color: @vert;
  li{
    a{
      color:@vert;
      background-color: @blanc;
      border-radius: 0px;
      border-color: @vert;
    }
    &.active {
      a, a:hover, a:focus{
        color:@blanc;
        background-color: @vert;
      }
    }
  }
}

ul.nav-pills{
  border: 1px solid @vert;
}

.img-thumbnail{
  padding: 0px;
  border: 0px;
  border-radius:0px;
  width:100%;
  max-height:200px;
}
.tab-content{
  margin:15px;
}
.panel, .panel-body{
  border:0px;
  padding: 0px;
  margin:0px;
  padding:10px;
}
.pair{
  background-color: @fondSection;
}