// main: ../main.less
#films {
  html,body{
    height:100%;
  }
  .carousel,.item,.active, {
    height:80%;
  }
  .carousel-inner{
    height:80%;
  }
}
#monCarousel {
  position: relative;
}
.call-to-action {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 60%;
}

.movie-paragraph {
  margin-bottom: 70px;
}
.affiche-film {
  width:100%;
}