// main: ../main.less

//définition du bandeau de navigation
header {
  &#couverture {
    height:100%;
  }
  background: url(../img/DSC00864.JPG) no-repeat;
  width: 100%;
  display: table;
  background-size:cover ;
  -webkit-background-size: cover;
  li:hover {
    border-bottom: 3px solid @brand-primary;
  }
  .logo {
    //    max-width:100%;
    max-height:50px;
    width:auto;
  }
  .navbar-default {
    background-color: transparent;
  }

  .navbar-default .navbar-nav {
    a {
      color:white;
      &:hover{
        color:white;
      }
    }
  }
  //  .navbar-default .navbar-nav > li > a {
  //    color: white;
  //    &:hover{
  //      color: white;
  //    }
  //  }

  h1, h3, p {
    color: white;
    margin-top: 40px;
  }
}
